@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('./colors.css');


body{
background-color: var(--background-color);
}
#main {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: var(--secondaryBackground-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 90vw;
    margin: auto;
    margin-top: 10vh;
    transition: transform 1s ease;
}

#main:hover{
    border: 2px solid var(--accent-color);
    transform: scale(1.1);

}

#logo{
    margin-bottom: 5vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primary-color);
    padding: 1vh;
    border-bottom: 5px solid var(--secondary-color);
    color: var(--text-color);
    transition: transform 1s ease;

}

#logo:hover{
    background-color: var(--accent-color);
    transform: scale(1.3) rotate(360deg);
    border-bottom: 5px solid var(--primary-color);
}

#inputText{
    border: none;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 2vh;
    transition: transform 0.1s ease;
    background-color: var(--secondaryBackground-color);
    color: var(--text-color);
}

#inputText:hover{
    border-bottom: 3px solid var(--accent-color);
    transform: scale(1.1);
}

#inputText:focus{
    outline: none;
}


#submit{
    margin-bottom: 5vh;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    background-color:var(--primary-color) ;
    color: var(--text-color);
    border: none;
    width: 15vh;
    height: 4vh;
    transition: transform 0.1s ease;
}

#submit:hover{
    transform: scale(1.1);
    color: var(--background-color);
    background-color: var(--accent-color);
}

#qrCodeReader {
    width: 300px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;

}

#qrCodeReader:hover{
    transform: scale(1.1);
}

#management {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 4vh;
    margin-top: 1vh;
    margin-left: 1vh;
    transition: transform 0.5s ease ;
}

#management:hover {
    color: var(--accent-color);
    transform: rotate(180deg);

}

#theme-toggle{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 4vh;
    margin-top: 1vh;
    margin-left: 1vh;
    transition: transform 0.5s ease ;
}

#theme-toggle:hover{
    color: var(--accent-color);
    transform: rotate(180deg);
}

#html5-qrcode-button-camera-permission{
    padding: 1vh ;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);

}


*{
    transition: all 1s ease-in-out;
}
