@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('./colors.css');

body {
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  margin-bottom: 5vh;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--primary-color);
  padding: 1vh;
  border-bottom: 5px solid black;
  transition: all 0.3s ease;
  align-items: center;

}

h1:hover {
  background-color: var(--accent-color);
  border-bottom: 5px solid var(--primary-color);
  transform: scale(1.1);
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--secondaryBackground-color);
  color: var(--text-color);
  padding: 0.8vh 2vw;
  margin: 2vh 0;
  border-bottom: 5px solid var(--primary-color);
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

h2:hover {
  border-bottom: 5px solid var(--accent-color);
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: scale(1.05);
}


#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: var(--secondaryBackground-color);
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 35vw;
  height: 85vh;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .5s ease;
}

#main:hover {
  border: 2px solid var(--accent-color);
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.1);
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  box-sizing: border-box;
  min-width: 60%;
  max-width: 80%;
  height: 100%;
  min-height: 200px;
  transition: all .5s ease;
}

#output:hover {
  border: 3px solid var(--accent-color);
}


button {
  margin: 5px auto;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  width: 60%;
  height: auto;
  padding: 12px 15px;
  transition: all 0.3s ease;
}

button:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

button:disabled {
  opacity: 0.5;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#add_remove {
  display: flex;
}

#add_remove button {
  margin-left: 1vw;
  margin-right: 1vw;
}


#back {
  width: 10%;
}


.existing_ingredient {
  background-color: var(--secondaryBackground-color);
  color: var(--text-color);
  padding: 8px 12px;
  margin: 5px 0;
  border-left: 5px solid var(--primary-color);
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  text-align: left;
  font-size: 1rem;
}

.existing_ingredient:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-left: 5px solid var(--accent-color);
  transform: scale(1.02);
}

input {
  border: none;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 2vh;
  transition: transform 0.1s ease;
  background-color: var(--secondaryBackground-color);
  color: var(--text-color);
  font-size: x-large;
  text-align: center;
}

input:hover {
  border-bottom: 3px solid var(--accent-color);
  transform: scale(1.1);
}

input:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  #main {
    width: 95vw;
    overflow-y: scroll;
  }

  #back {
    width: auto;
    height: auto;
  }
}
