@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('./colors.css');

body {
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    margin-bottom: 5vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primary-color);
    padding: 1vh;
    border-bottom: 5px solid black;
    transition: transform 1s ease;

}

h1:hover{
    transform: scale(1.3) rotate(360deg);
    border-bottom: 5px solid var(--accent-color);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: var(--secondaryBackground-color);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 85vw;
    height: 85vh;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 1s ease;

}

#main:hover{
    border: 2px solid var(--accent-color);
    transform: scale(1.05);

}


#Content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    flex: 1;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    padding-bottom: 20px;
}

#ingredientList{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    overflow-y: auto;
    padding: 8px;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 45%;
    height: 100%;
    min-height: 200px;
    transition: transform 1s ease;    
}

#ingredientList:hover{
    border: 3px solid var(--accent-color);
}

#messageEditor {
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease;
    
}

#messageEditor:hover{
    border: 3px solid var(--accent-color);
}



#messageEditor h3 {
    margin-bottom: 10px;
    
}

#MessageTextArea {
    resize: none;
    font-size: 16px;
    flex-grow: 1;
    width: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background-color: var(--secondaryBackground-color);
}

#MessageTextArea:focus{
    outline: none;
}

button {
    margin: 5px auto;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    width: 90%;
    height: auto;
    padding: 12px 15px;
    transition: transform 0.2s ease;
}

button:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:disabled {
    opacity: 0.5;
}
